{% extends 'base.html.twig' %}

{% block header %}
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <a class="navbar-brand" href="#">My Blog</a>
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="#">Articles</a>
            </li>
            <li>
                <a href="/logout">Log-out</a>
            </li>
        </ul>
    </nav>{% endblock %}
